{
  "extends": "stylelint-config-spartdev",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [ true, {
      ignorePseudoClasses: ["global"],
    }]
  }
}
