/*  BASE SETTINGS
---------------------------------------------------*/

// FONTS
// -----------------------------------------------------------
$semi-bold: 600 !default;
$regular: 400 !default;
$light: 300 !default;

/* Font stack of the site.*/
$base-font-family: arial !default;
$base-font-weight: $regular !default;
$base-font-style: normal !default;

// COLORS
// -----------------------------------------------------------
$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 11%) !default;

$default-color: $white;
// $primary-color: hsl(240, 21%, 17%) !default;
// $secondary-color: hsl(211, 97%, 51%) !default;
// $tertiary-color: hsl(180, 100%, 60%) !default;

$color-body-text: $black !default;
$color-heading: $black !default;
$color-body-background: $default-color !default;
$color-link-default: $default-color !default;
$color-link-default-hover: $color-body-text !default;

$background-default: $default-color !default;



// Size settings
// -----------------------------------------------------------
$header-height: 6rem !default;
$global-radius: 5px;


// Z-Index Scale
// --------------------------------------------------
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;
