/*  HEADER COMPONENT
--------------------------------------------------- */

/* IMPORT
--------------------------------------------------- */
@import "../../../public/stylesheet/_settings";

.header {
  height: inherit;
  background: hsl(214, 11%, 28%);
  &__head {
    padding: 2rem;
    background: $primary-color;
  }

  &__brandName {
    font-size: 2.5rem;
    color: $default-color;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {

  }
}
