/*  HOME PAGE
--------------------------------------------------- */

/* IMPORT
--------------------------------------------------- */
@import "../../../public/stylesheet/_settings";

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $default-color;
}
