/*  LAYOUT CINTAINER
--------------------------------------------------- */

/* IMPORT
--------------------------------------------------- */
@import "../../../public/stylesheet/_settings";

.layout {
  display: flex;
  height: 100%;

  &__header {
    flex: 1;
  }

  &__main {
    flex: 3;

    &__header {
      height: 7.5rem;
      background: hsl(40, 74%, 59%);
    }
  }
}
